*.o
*.exe
*.ghw
*.cf
*.vcd

vivado/*.runs
vivado/*.cache
vivado/*.sim
vivado/*.ioplanning
vivado/*.ip_user_files
vivado/*.log
vivado/*.jou

vivado_test/*.runs
vivado_test/*.cache
vivado_test/*.sim
vivado_test/*.ioplanning
vivado_test/*.ip_user_files
vivado_test/*.log
vivado_test/*.jou

vitis_test/**
!vitis_test/aft_test_app/
!vitis_test/aft_test_app/src/
!vitis_test/aft_test_app/src/main.c
!vitis_test/aft_test_app/Debug/
!vitis_test/aft_test_app/Debug/*.elf
!vitis_test/afe_test_platform/
!vitis_test/afe_test_platform/export/
!vitis_test/afe_test_platform/export/afe_test_platform/
!vitis_test/afe_test_platform/export/afe_test_platform/hw/
!vitis_test/afe_test_platform/export/afe_test_platform/hw/*.xsa
